.imageHead {
  width: 3rem;
  padding: 0.5%;
}

@media screen and (max-width: 1000px) {
  .imageHead {
    width: 3rem;
    padding: 1.2%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.setup-select {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.setupCompanies-input {
  margin: 1%;
  width: 80%;
  padding: 1%;
  text-align: center;
}
.buttons-in-modal {
  width: 20% auto;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(60, 85, 60);
  border-bottom: 1px solid rgb(60, 85, 60);
  padding: 2%;
}
.buttons-in-modal > button {
  border: none;
  border-radius: 2rem;
  background-color: rgb(35, 196, 70);
  padding: 1.5% 10%;
}
.inventory-container {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
