nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(95, 34, 34);
  align-items: center;
}
nav > button {
  padding: 0.7% 1.3%;
  border: none;
  background-color: gold;
  margin: 0.2%;
  cursor: pointer;
}
nav > button:hover {
  background-color: brown;
  color: white;
}
nav > img {
  margin: 0 1%;
}
